<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skyworth.videolibrary"
    >

    <application
        android:name="com.skyworth.videolibrary.VideoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/video_app_name"
        android:theme="@style/Theme.ADCommonUtils"
        android:supportsRtl="true"
        tools:targetApi="33"
        tools:replace="android:icon, android:label, android:name"
        >
        <activity
            android:name="com.skyworth.videolibrary.ui.VideoActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>